<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" action="/posts/create">
    <div class="form-group">
        <label for="title">Post Title</label>
        <input type="text" name="title" class="form-control" id="title" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="body">Post Body</label>
        <input name = "body" type="text" class="form-control" id="body">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>
