<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit post page</title>
    <th:block th:include="partials :: head">
    </th:block>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>

<form th:action="@{'/posts/edit/' + ${post.getId()}}" th:method="post" th:object="${post}">
    Title:
    <input th:value="${post.getTitle()}" th:field="*{title}" />
    <br />
    Body:
    <input th:value="${post.getBody()}" th:field="*{body}" />
    <br />
    <input type="hidden" th:value="${post.getUser()}" th:field="*{user}" />
    <input type="submit" />
</form>

<nav th:replace="partials :: footer"></nav>
</body>
</html>
