<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Deimos</title>
    <th:block th:include="partials :: head">
    </th:block>

</head>
<body class="bg-dark-shades">
<nav th:replace="partials :: navbar"></nav>
<h1>The number of days left for the deimos cohort is <span th:text="${numberOfDays}"></span>!</h1>

<form action="/deimos" method="post">
    <input type="text" name="numberOfDays">
</form>

<footer th:replace="partials :: footer"></footer>
</body>
</html>
